body {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: large;
  background-color: #78dfc886;
}

h1 {
  text-align: center;
  margin-top: 30px;
  color: rgb(40, 75, 185);
}

h2 {
  text-align: center;
  margin-top: 10px;
  color:  rgba(40, 75, 185, 0.9);
}

.calculadora {
  width: 350px;
  margin: 70px auto;
  background-color: rgba(4, 1, 230, 0.2);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 9px -2px 20px 5px rgba(4, 1, 230, 0.3), 
        inset 0px 0px 30px 10px rgb(4, 1, 230, 0.3)
}

#pantalla {
  width: 90%;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 10px;
  text-align: right;
  background-color: #c1fff2b1;
}

input[type="button"] {
  width: 70px;
  height: 40px;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 16px;
  background-color: #eee;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="button"]:hover {
  background-color: #ddd;
}

input[type="button"]:last-child {
  margin-right: 0;
}
